.data-box {
  display: flex;
  padding: 10px 12px;
  border: 1px solid #EAEAEA;
  border-bottom: none;
  cursor: pointer;

  &:focus {
    background: #FFF5B0;
    outline: none;
  }
}

.trip-title {
  font-weight: 600;
  font-size: 14px;
}

.time {
  font-size: 10px;
}

input {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
}

.button {
  button {
    border: none;
    background: transparent;

    img {
      width: 20px;
    }
  }
}

.delete-text {
  margin: 0;
  padding: 0;
}
